.header {
  margin: 0 8vw;
}

.tabs {
  background-color: #fff;
  border-bottom: 1;
  border-color: "divider";
  justify-content: center;
  padding: 0 10vw;
}

.main {
  flex-grow: 1;
  text-align: center;
  padding: 0 8vw;
}

.forms {
  display: flex;
  justify-content: space-between;
  margin: 0 2vw;
}

#camera-selector {
  text-align: left;
  min-width: 15vw;
}

.alert {
  padding: 15vh 15vw;
}

.progress {
  align-items: center;
  padding: 15vh 15vw;
}

.pagination {
  display: flex;
  justify-content: center;
}
