.header {
  margin: 1vw 6vw;
}

#logo {
  width: calc(20px + 2vw);
  margin: calc(5px + 0.5vw) calc(10px + 1vw);
}

@media (prefers-reduced-motion: no-preference) {
  #logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabs {
  border-bottom: 1;
  border-color: "divider";
  justify-content: center;
  padding: 0 4vw;
}

.main {
  flex-grow: 1;
  text-align: center;
  padding: 0 6vw;
}

.forms {
  margin: 2vh 0 0 0;
}

#camera-selector {
  text-align: left;
  min-width: 20vw;
}

.alert {
  padding: 15vh 15vw;
}

.progress {
  align-items: center;
  padding: 15vh 15vw;
}

.pagination {
  display: flex;
  justify-content: center;
}
